.pageBackground {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(../../public/images/ben-o-bro-wpU4veNGnHg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -400px;
}

.map-container {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }

  .header {
    font-size: 5rem;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .selectorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .selectors {
    display: flex;
    
  }

  .iconSelector {
    padding: .5rem;
  }

  .searchInput {
    margin-left: 2rem;
    padding: .5rem;
    border-radius: 9px;
    border: none;
    text-align: center;
  }

  .searchButton {
    padding: .5rem 1rem;
    background-color: #3190f5; 
    color: #ffffff;
    border-radius: 9px;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-left: .5rem;
    text-align: center;
}

.button:hover {
    background-color: #006fde; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: #0056a3;
}
  
  .popupText {
    font-size: 1.6rem;
    color: #545454;
    text-align: center;
  } 
  
  .removeButton {
    padding: .3rem .6rem;
    background-color: #3190f5;
    color: #ffffff;
    font-size: 1.6rem;
    border: none;
    border-radius: 7px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.customFooterStyle {
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 2rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(../../public/images/ben-o-bro-wpU4veNGnHg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -800px;
  margin-top: -2rem;
}
 

@media screen and (max-width: 1332px) {
  .customFooterStyle {
    background-position-y: -200px;
  }
}

@media screen and (max-width: 400px) {
  .selectors {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .customFooterStyle {
    background-position-y: 0;
  }
}