.WelcomePage {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url(../../public/images/ben-o-bro-wpU4veNGnHg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormContainer {
    position: relative;
    z-index: 2;
    padding: 20px;
    background: rgba(0, 0, 0, 0.35); 
    color: #ffffff;
    border-radius: 8px;
    max-width: 33rem;
    height: 40rem;
    -webkit-box-shadow: 6px 10px 26px -8px rgba(255, 255, 255, 0.1); 
    -moz-box-shadow: 6px 10px 26px -8px rgba(255, 255, 255, 0.1);
    box-shadow: 6px 10px 26px -8px rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.FormContainer h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 500;
    color: #f0ecec;
    text-align: center;
    margin-bottom: 2rem;
}

.button {
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    background-color: #3190f5; 
    color: #ffffff;
    border-radius: 9px;
    font-size: 1.6rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #006fde; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
    background-color: #0056a3;
}

