.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signout-button, .map-button {
  background-color: #3190f5; /* Green background */
  color:#ffffff;
  padding: 1rem 2rem;
  margin: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 0;
}

.signout-button:hover, .map-button:hover {
  background-color: #006fde; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.signout-button:active,  .map-button:active{
  background-color: #0056a3;
}